.App{
  text-align: center;
  margin: 100px;
  background-image: linear-gradient(orange,green,#9494a9);
}
.App Button{
  margin: 100px;
}
.table{
  margin: 50px;
  align-items: center;
}
.ant-table-cell{
  text-align: center !important;
}
.search{
  margin: 50px !important;
  text-align: center !important;
}


